.center {
  z-index: 1;
  background-color: #130039;
  margin-left: 5vw;
  margin-right: 5vw;
  outline-color: deepskyblue;
  outline-style: solid;
  outline-width: 5px;
  color: cyan;
}

html {
  z-index: 1;
  background-size: cover;
  background: -webkit-linear-gradient(-90deg, midnightblue 0%, skyblue 20%, pink 40%, orange 60%, indigo 70%, black 90%);
  font-family: 'K2D', sans-serif;
  margin: 0 auto;
  text-align: center;

  max-width: 100vw;
}

.vaportitle {
  background: -webkit-linear-gradient(-85deg, skyblue 25%, hotpink 47%, orange 53%, blueviolet 80%);
  -webkit-background-clip: text;
  -webkit-text-stroke: 5px transparent;
  color:  #010250;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 100px;
  font-weight: 800;
  text-transform: uppercase;
}

.nav-item {
  color: blue;
  display: inline;
  text-decoration-color: magenta;
  z-index: 1;
}

.nav {
  background-color: #130039;
  color: cyan;
  margin-left: 5vw;
  margin-right: 5vw;
  outline-color: deepskyblue;
  outline-style: solid;
  outline-width: 5px;
  z-index: 1;
}

.nav-container {
  z-index: 1;
  margin: 0px;
  padding: 0px;
}

.nav-link {
  z-index: 1;
  -webkit-transition: 0.1 linear;
  color: magenta;
  text-decoration: none;
}

body {
  width: 100%;
  z-index: 1;
}

.vaportag {
  background: -webkit-linear-gradient(-91deg, magenta 10%, violet 40%, orange 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Aguafina Script', cursive;
  font-kerning: normal;
  font-size: 50px;
  font-style: italic;
  text-align: center;
  text-overflow: clip;
  transform: rotate(-15deg);
}

.vaporname {
  font-size: 30px;
  background: -webkit-linear-gradient(-90deg, blueviolet 5%, violet 53%, skyblue 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer {
 margin: -100px
 width: 100vw;
}

a{
  color: black;
  text-decoration: none;
}


a.nottitle{
  color: cyan;
}

.photoshop{
   max-width: 800px;
}

.week2{
  background-color: black;
  color: violet;
  outline-color: purple;
  outline-style: solid;
  outline-width: 5px;
  z-index: 1;

}
