.center {
  z-index: 1;
  background-color: #130039;
  margin-left: 300px;
  margin-right: 300px;
  outline-color: deepskyblue;
  outline-style: solid;
  outline-width: 5px;
  color: cyan;
}

html {
  z-index: 1;
  background-size: cover;
  background: -webkit-linear-gradient(-90deg, midnightblue 0%, deepskyblue 30%, skyblue 50%, skyblue 70%, white 100%);
  font-family: 'K2D', sans-serif;
  margin: 0 auto;
  text-align: center;
}

.vaportitle {
  background: -webkit-linear-gradient(-90deg, skyblue 25%, white 47%, deepskyblue 53%, blueviolet 80%);
  -webkit-background-clip: text;
  -webkit-text-stroke: 5px transparent;
  color:  #1a004e;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 100px;
  font-weight: 800;
  text-transform: uppercase;
}

.nav-item {
  color: blue;
  display: inline;
  text-decoration-color: magenta;
  z-index: 1;
}

.nav {
  background-color: #130039;
  color: cyan;
  margin-left: 200px;
  margin-right: 200px;
  outline-color: deepskyblue;
  outline-style: solid;
  outline-width: 5px;
  z-index: 1;
}

.nav-container {
  z-index: 1;
  margin: 0px;
  padding: 0px;
}

.nav-link {
  z-index: 1;
  -webkit-transition: 0.1 linear;
  color: magenta;
  text-decoration: none;
}

body {
  width: 100%;
  z-index: 1;
}

.vaportag {
  background: -webkit-linear-gradient(-91deg, blueviolet 10%, deepskyblue 53%, violet 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Aguafina Script', cursive;
  font-kerning: normal;
  font-size: 50px;
  font-style: italic;
  text-align: center;
  text-overflow: clip;
  transform: rotate(-15deg);
}

.vaporname {
  font-size: 30px;
  background: -webkit-linear-gradient(-91deg, blueviolet 5%, violet 53%, pink 91%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer {

  margin: -100px;
}

a{
  color: black;
  text-decoration: none;
}


a.nottitle{
  color: cyan;
}

.photoshop{
   max-width: 800px;
}
