.center {
  z-index: 1;
  background-color: black;
  margin-left: 300px;
  margin-right: 300px;
  outline-color: purple;
  outline-style: solid;
  outline-width: 5px;
  color: cyan;
}

html {
  z-index: 1;
  background-size: cover;
  background: -webkit-linear-gradient(-90deg, #09000f 60%, #740cb5 74%, #ff9000 79%);
  font-family: 'Rubik Mono One', sans-serif;
  margin: 0 auto;
  text-align: center;
}

.vaportitle {
  background: -webkit-linear-gradient(-90deg, blue 5%, white 47%, purple 53%, white 95%);
  -webkit-background-clip: text;
  -webkit-text-stroke: 5px transparent;
  color: #000000;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 100px;
  font-weight: 800;
  text-transform: uppercase;
}

.nav-item {
  color: magenta;
  display: inline;
  padding: 10px;
  text-decoration-color: magenta;
  z-index: 1;
}

.nav {
  background-color: black;
  color: cyan;
  margin-left: 200px;
  margin-right: 200px;
  outline-color: purple;
  outline-style: solid;
  outline-width: 5px;
  z-index: 1;
}

.nav-container {
  z-index: 1;
  margin: 0px;
  padding: 0px;
}

.nav-link {
  z-index: 1;
  -webkit-transition: 0.1 linear;
  color: magenta;
  text-decoration: none;
}

body {
  width: 100%;
  z-index: 1;
}

.vaportag {
  background: -webkit-linear-gradient(-91deg, #f96df7 5%, #fc2af8 53%, #f96df7 91%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Aguafina Script', cursive;
  font-kerning: normal;
  font-size: 50px;
  font-style: italic;
  text-align: center;
  text-overflow: clip;
  transform: rotate(-15deg);
}

.vaporname {
  font-size: 30px;
  background: -webkit-linear-gradient(-91deg, #afffff 5%, #00ffff 53%, #afffff 91%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer {

  margin: -10px;
}

a:link{
  color: cyan;
}

a:visited{
  color: cyan;
}
