.imga
{
z-index: 10;
}

.imgb
{
z-index: 20;
}

.imgc
{
z-index: 30;
}

html{
    font-family: 'Roboto', sans-serif;
}

h2{
  font-size: 100px;
/* Warning: no fallback */
font-weight: 800;
text-transform: uppercase;

background: -webkit-linear-gradient(-86deg, #EEF85B 5%, #7AEC8D 53%, #09E5C3 91%);
-webkit-background-clip: text;
-webkit-text-stroke: 10px transparent;
}

.vaportag{
  background: -webkit-linear-gradient(-91deg, #f96df7 5%, #fc2af8 53%, #f96df7 91%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Aguafina Script', cursive;
  font-kerning: normal;
  font-size: 50px;
  font-style: italic;
  text-align: center;
  text-overflow: clip;
  transform: rotate(-15deg);

}

.vaporname{
  font-size: 30px;
  background: -webkit-linear-gradient(-91deg, #afffff 5%, #00ffff 53%, #afffff 91%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.vaportitle{
background: -webkit-linear-gradient(-90deg, blue 5%, white 47%, purple 53%, white 95%);
-webkit-background-clip: text;
-webkit-text-stroke: 5px transparent;
font-size: 100px;
font-weight: 800;
text-transform: uppercase;
font-family: 'Rubik Mono One', sans-serif;
color: #000000;

}
