.imga
{
z-index: 10;
}

.imgb
{
z-index: 20;
}

.imgc
{
z-index: 30;
}

html{
    font-family: 'Roboto', sans-serif;
}

h2{
  font-size: 100px;
font-weight: 800;
text-transform: uppercase;
/* Warning: no fallback */

background: -webkit-linear-gradient(-86deg, #EEF85B 5%, #7AEC8D 53%, #09E5C3 91%);
-webkit-background-clip: text;
-webkit-text-stroke: 10px transparent;
}
